.carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.slide {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.slide img {
  max-width: 100%;
  max-height: 100%;
}

.controls {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prev, .next {
  border: none;
  background-color: transparent;
  font-size: 2rem;
  margin: 0 1rem;
  cursor: pointer;
}
