
.road {
  /* background-color: #8DEBF6;
  border-radius: 6px;
  color: #000000;

  margin-top: 20px; */
  /* padding-left: 10px;
  padding-right: 30px; */
  margin-left: 0px;

}
.ikn {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -10px;
  z-index: 1;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #666;
}